verif:
  project_name: "Eps_Example"
  fcst_model:
    - model_1
    - model_2
  lead_time: seq(0,24,3)
  lead_time_UA: NULL
  by_step: "6h"
  fcst_type: "eps"                          # det or eps
  domains:                                  # what domains to verify ("All" will use all stations available)
    - "All"
  domains_UA:                               # what domains to verify for UA variables. Defaults to "domains" if NULL or missing.
    - NULL
  members:                                  # What members to verify for each ensemble. Include a list if the members differ between fcst_model. Set to NULL to use all available members in an ensemble.
    - NULL
  lags:                                     # How to lag the members for each ensemble. Include a list if the lags differ between fcst_model. Set to "0h" for no lagging.
    - c("0h","3h")
    - c("0h","1h","2h","3h","4h","5h")
  shifts:                                   # Experimental: Used to shift forecasts forward/backward in time using "shift_forecast". Follows the same format as members/lags. Set to NULL in most cases.
    - NULL
  num_ref_members: "Inf"                    # Number of reference members to use when computing fair scores for an ensemble (e.g. "Inf"). Not used for det runs.
  ua_fcst_cycle: FALSE                      # For upper air variables, do you want to group by fcst_cycle? Either TRUE or FALSE
  force_valid_thr: FALSE                    # Set to TRUE if you really want threshold scores over valid times/hours
  lt_split: FALSE                           # Split some auxiliary scores (e.g. scatterplots, freq hist) between short (<=24), long (>24), and all leadtimes
  fcst_path: "/path/to/FCTABLE"
  obs_path: "/path/to/OBSTABLE"
  verif_path: "/path/to/rds_output"
pre:
  fcst_model:
    - model_1
    - model_2
  lead_time: seq(0,24,1)
  vfld_path: "/path/to/vfld"
  vfld_by: "6h"
  vfld_template:                            # See harpIO::show_file_templates(). Include one for each model if they are different
    - "vfld_eps"
  vobs_path: "/path/to/vobs"
  vobs_by: "1h"
  custom_asl_path: "/path/to/allsynop.list" # Local Harmonie allsynop list (activated with use_custom_asl flag in vfld2sql.R)
  members:                                  # Members to convert. Include a list of members for fcst_model if they are different
    - seq(0,5)
    - seq(0,17)
  lags:                                     # Lags for each member. Include a list of lags for each fcst_model if they are different. For a given model, lags should be the same length as members. Set to NULL for no lags
    - c(rep(0,3),rep(3,3))
    - c(rep(0,3),rep(1,3),rep(2,3),rep(3,3),rep(4,3),rep(5,3))
  params:                                   # Parameters to convert. Set to "- NULL" to convert all parameters in the vfld.
    - T2m
    - S10m
    - Gmax
    - Td2m
    - RH2m
    - Q2m
    - Pmsl
    - Pcp
    - CCtot
    - CClow
    - Cbase
    - vis
    - T
    - S
    - D
    - Q
    - RH
    - Td
    - Z
post:
  plot_output: "/path/to/png_output"        # Can set to "default" to use verif_path/archive
  create_png: TRUE
  save_vofp: TRUE                           # Save the verification object used for plotting pngs (over station groups)
  save_sidrds: FALSE                        # Save the verification object used for individual SID scores (i.e. maps)
  cmap: "trubetskoy"                        # A palette from RColorBrewer or trubetskoy (in pals). Defaults to Set2
  cmap_hex: "magma"                         # Colour pallete for scatterplots (one of "paired", "magma", "viridis", or a scico pallette). Defaults to magma
  map_cbar_d: FALSE                         # Use discrete breaks instead of a continuous colourbar for the station map plots
scorecards:
  create_scrd: TRUE                         # Flag to run scorecard generation or not
  ref_model: model_1
  fcst_model: model_2
  parameters:                               # Which parameters to include in the scorecard?
    - T2m
    - Td2m
    - S10m
    - Pmsl
    - CCtot
  scores:
    - "mean_bias"
    - "rmse"
    - "spread"
  domains:                                  # Construct scorecards for these domains only (must be in verif$domains)
    - "All"
  pooled_by: fcst_dttm
  numboot: 1000
  parallel: FALSE
  num_cores: 1 
  plot_signif: TRUE                         # Plot the actual differnce between fcst_model and ref_model (and the confidence of that difference)
